body,ul,li,img,p{
	margin: 0;
	padding: 0;
	list-style: none;
	border:0;
}
input{
	margin: 0;
	padding: 0;
	border:0;
	font-style: inherit;
	font-weight: inherit;
	font-family: inherit;
}
a{
	text-decoration: none;
}
*{
	font-family: "微软雅黑","宋体","sans-serif"
}
*{
	box-sizing:border-box;
}
/*顶部*/
.header{
	padding: 0 25px 0 30px;
	height:100px;
	margin: 0 auto;
	min-width: 1000px;
}
.header-left{
	display: block;
	width:260px;
	height:80px;
	float: left;
	background: url(../images/logo.png)no-repeat;
	line-height: 80px;
	margin-top: 20px;
}
.header-right{
	float:right;
	height:100px;
}
.recommend{
	width: 150px;
	height:100%;
	float: left;
	line-height: 100px;
	text-align: right;
	margin-right: 20px;
	font-size: 12px;
}
.recommend a{
	color: #ed443b;
}
.search{
	width:auto;
	height:100%;
	float: left;
}


.search-nav{
	width: 300px;
	height:40px;
	margin-right: 35px;
	position: relative;
	top: 50%;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin-top: -19px;
}
.header .search-nav input{
	width: 298px;
	height:38px;
	border:none;
	line-height: 38px;
}

.search-img{
	position: absolute;
	right: 12px;
	top: 12px;
	width: 15px;
	height:15px;
	background: url(../images/search.png)no-repeat;
	cursor: pointer;
}
.search-nav:hover{
	border-color:#666;;
}
.nav-right{
	width: 256px;
	height:100px;
	float: left;
}
.login{
	height:100%;
	line-height:100px;
	float: left;
	padding-right: 20px;
}
.login a{
	display: inline-block;
	background:url(../images/nav_a3.png) no-repeat -272px 36px;
	padding-left: 28px;
	color: #555;
	font-size:12px;
}
.page-show{
	width:180px;
	height:100%;
	float: left;
	line-height: 100px;
	font-size: 12px;
}
.nav-right a:hover{
	text-decoration: underline;
}
.span-xian{
	width: 0;
	height:15px;
	border-left: 1px solid #ccc;
}
.page-ding{
	padding:0 20px;
	color: #666
}
.page-car{
	display: inline-block;
	padding-left: 44px;
	background: url(../images/new.png)no-repeat -9px 42px;
	color: #666
}
@media screen and (max-width: 1200px){
	.header .search-nav{
		width:170px;
	}
	.header .search-nav input{
		width: 156px;
	}
}
/*导航*/

.daohangbox{
	min-width: 1000px;
	width: 100%;
	height: 40px;
	background: #333;
}
.daohangbox ul{
	display: block;
	width: 480px;
	height: 40px;
	overflow: hidden;
	margin: 0 auto;
}
.daohangbox a{
	display:block;
	width: 96px;
	height: 40px;
	float: left;
	color: #dddddd;
	text-align: center;
	line-height: 40px;
	font-size: 12px;	
}
.daohangbox ul a:nth-child(1){
	background: #222;
}
.daohangbox ul a:hover{
	color: white;
}
/*banner*/
.bannerbox{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	min-width: 1000px;
}
.lbanner{
	width: 60%;
	height: auto;
	overflow: hidden;
	float: left;
}
.lbanner a{
	width: 100%;
	height: 100%;
}
.lbanner a img{
	width: 100%;
	transition:all 0.7s linear;	
}
.rbanner{
	float: right;
	width: 40%;
	overflow: hidden;
}


.rbanner1{
	width: 100%;
	float: left;
	transition:all 0.7s linear;
}
.rbanner2{
	width: 50%;
	float: left;
	transition:all 0.7s linear;
}

.howbox{
	width: 1203px;
	height: 279px;
	margin: 0 auto;
	border-bottom: 1px solid #e9e9e9;
}
.tubox{
    width: 300px;
    height: 100%;
    float: left;
}
.ns{
	width: 300px;
    margin-top:60px;
}
.wzbox{
	width: 488px;
	height: 160px;
	margin-top: 60px;
	float: left;
	border-right: 1px solid #e9e9e9;
}
.rh{
	width: 421px;
	height: 137px;
	margin: 0 auto;
	padding-top:23px; 
}
.rh span{
	width: 365px;
	color: #333333;
	font-size: 24px;
	font-weight: bold;
}
.rh span:hover{
	text-decoration: underline;
}
.rh p{
	font-size: 12px;
	color: #333333;
	line-height: 1.5em;
	letter-spacing: 1px;
	display: block;
	margin-top: 16px;
}
.zt{
	width: 400px;
	height: 160px;
	margin-top: 60px;
	float: left;
}
.zt ul{
	display: block;
	margin-top: 33px;
	margin-left: 39px;
}
.zt ul li{
   font-size: 12px;
   display: block;
   margin-bottom: 16px;

}
.zt ul li span:hover{
	text-decoration: underline;
}
/*商品详情*/
.bigbox{
	width: 1200px;
	height: 580px;
	margin: 0 auto;
	border-bottom: 1px solid #e9e9e9;
	margin-top:40px;
}
.earth{
	height:540px;
	margin:0 auto;
	overflow: hidden;
}
.lt{
	float:left;
}
.gt{
	float:right;
}
.earthleft{
	width:220px;
	height:540px;
}
.earthright{
	height:100%;
	position: relative;
}
.ybtop{
	margin-left: 10px;
	margin-top: 20px;
}
 .ybearth a img{
    width:138px;
    height:138px;
    transition:all 0.3s linear;
}
 .ybearth a img:hover{
    margin-left: 60px;
    transition:all 0.3s linear;
 }
.ybtop div:nth-child(1){
  font-size: 16px;
  height:24px;
  line-height: 24px;
  margin-bottom: 5px;
}
.ybtop div:nth-child(1):hover{
	text-decoration: underline;
}
.ybtop div:nth-child(2){
  font-size: 12px;
  color:#999;
  margin-bottom: 10px;
}

.rm{
	width:48px;
	height:18px;
	color:white;
    background: #ee3531;
    text-align: center;
    line-height: 18px;
	font-size: 12px;
	margin-bottom: 10px;
}
@media screen and (min-width:1200px){
	.earth{
		width:1200px;
	}
	.ybearth:nth-child(2) .ybtop div:nth-child(1){
        font-size: 24px;
      
	}
	.earthright{
	    width:955px;
    }
    .earthright .ybearth{
    	width:238px;
    	height:50%;
    	float:left;
    }
   
    .earthright .ybearth:nth-child(1),.earthright .ybearth:nth-child(3){

    	border-bottom: 1px solid #e9e9e9;
    }
    .earthright .ybearth:nth-child(2){
       width:478px;
       height:100%;
       border-left:1px solid #e9e9e9;
       border-right:1px solid #e9e9e9;
       box-sizing:border-box;
    }
    .earthright .ybearth:nth-child(4){
    	position: absolute;
    	left:0;
    	bottom:0;
    }
     .ybearth a img{
     	margin-left: 90px;
     }
     .ybearth:nth-child(2) img{
        width:395px;
        height:398px;
        margin-left:69px;
     }
}
@media screen and (max-width:1200px){
	.earth{
		width:955px;
	}
	.earthright{
	    width:710px;
    }
    .earthright .ybearth{
    	float:left;
    	width:235px;
    	height:50%;
    	border-bottom:1px solid #e9e9e9;
    	border-right:1px solid #e9e9e9;
        box-sizing:border-box;
    }
    .earthright .ybearth:nth-child(3n){
    	border-right:0;
    }
    .earthright .ybearth:nth-child(3)~.ybearth{
    	border-bottom:0;
    }
}
.bbox{
	width: 100%;
	height: 520px;
	background: #f6f6f6;
	padding: 60px;
}
.lyyx{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
}
.lyyximg{
	width: 710px;
	height: 400px;
	float: left;
	background: url(../images/good30.jpg);
}

.lyyxtip{
	width: 490px;
	height: 400px;
	float: right;
}
.tiptop{
	position: relative;
	width: 460px;
	height: 300px;
	margin: 0 auto;
	border-bottom: 1px solid #d7d7d7;
}
.tiptop a:nth-of-type(1){
	display: block;
	font-size: 30px;
	color: #333;
}
.tiptop span:nth-of-type(1){
	display: block;
	font-size: 12px;
	color: #333;
	margin-top: 10px;
}
.tiptop span:nth-of-type(2){
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #ee3531;
	margin-top: 20px;
	display: block;
    margin-top: 48px;
}
.tiptop a:nth-of-type(2){
	display: block;
	width: 140px;
	height: 41px;
	color: #fff;
	text-align: center;
	line-height: 41px;
	float: left;
	background: #ee3531;
	border-radius: 5px;
	margin-top: 40px;
}
.tiptop a:nth-of-type(3){
	display: block;
	width: 140px;
	height: 41px;
	color: #333;
	text-align: center;
	line-height: 41px;
	float: left;
	border: 1px solid #333;
	margin-top: 40px;
	margin-left: 25px;
	border-radius: 5px;
	background: white;
}
.sanjiao{
	width: 0;
	height: 0;
	border-top: 25px solid rgba(0,0,0,0);
	border-bottom: 25px solid rgba(0,0,0,0);
	border-right: 25px solid #fff;
	position: absolute;
	left: -40px;
	top: 69%;
}
.ren{
	width: 30px;
	height: 30px;
	margin-left: 15px;
	margin-top: 27px;
	border-radius: 50%;
	background: url(../images/user.jpg)no-repeat;
	background-size: cover;
	float: left;
}

.boxr span{
    float: left;
    font-size: 12px;
    display:block;
	margin-top: 32px;
	margin-left: 8px;
}
.boxr input{
	width: 140px;
	height: 40px;
	background:#333333; 
	margin-top: 27px;
	margin-left:159px;
	color: white;
	font-size: 12px;
	border-radius: 3px;
}
@media screen and (max-width: 1000px){
	.lyyx{
		width: 959px;
	}
	.lyyximg{
		width: 469px;
		background: url(../images/good30.jpg)-120px;
	}
	
}
/*chanpin start*/
.tengxun-box{
	padding: 30px 0 50px;
	background: #fff;
}
.tengxun-inner{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.tengxun-innerbox{
	height: auto;
}
.newbox{
	background: #f6f6f6;
	float: left;
	margin: 30px 30px 0 0;
}
.newbox a img{
	width: 100%;
	height: 288px;
}
.newbox-bottom{
	padding: 0 18px;
}
.news-img{
	background-color: #f6f6f6;
	width: 70px;
	height: 70px;
	margin: -35px 10px 0 0;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
}
.news-img img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: 5px;
}
.news-name{
	display: inline-block;
	font-size: 12px;
	color: #999;
}
.news-xinxi1{
	margin: 8px 0 0 15px;
	float: right;
	font-size: 12px;
	color: #999;
}
.news-x{
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/new3.png)no-repeat 0 0;
	vertical-align: -4px;
	margin-right: 4px;
}
.news-xinxi2{
	margin: 8px 0 0 15px;
	float: right;
	font-size: 12px;
	color: #999;
}
.news-title{
	margin: 20px 0 10px;
	width: 100%;
	font-size: 16px;
	color: #333;
	height: 26px;
	line-height: 26px;
}
.news-title1{
	height: 37px;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	overflow: hidden;
}
.news-title2{
	margin: 18px 0 25px;
	font-size: 12px;
	color: #666;
}
.news-more{
	width: 178px;
	height: 34px;
	border: 1px solid #999;
	color: #555;
	text-align: center;
	line-height: 34px;
	font-size: 13px;
	display: block;
	margin: 30px auto 0;
	border-radius: 3px;
	background: #fff;
	transition: all .3s ease-out;
}
.news-more:hover{
	color: #000;
	border: 1px solid #000;
}
@media screen and (min-width: 1200px){
	.tengxun-innerbox{
		width: 1300px;
	}
	.newbox{
		width: 380px;
	}
}
@media screen and (max-width: 1200px){
	.tengxun-box{
		padding-bottom: 40px
	}
	.tengxun-inner{
		width: 955px;
		overflow: hidden;
	}
	.tengxun-innerbox{
		width: 1000px;
	}
	.newbox{
		width: 300px;
	}
	.newbox a img{
		width: 300px;
		height: 227px;
	}
	.newbox-bottom{
		padding: 0 15px;
	}
	.newbox-bottom .news-img{
		width: 60px;
		height: 60px;
	}
	.newbox-bottom .news-img img{
		width: 50px;
		height: 50px;
	}
	.newbox-bottom .news-title{
		margin: 15px 0 5px;
		font-size: 14px;
	}
}
/*chanpin end*/
/*shipin start*/
.video-box{
	padding: 60px 0;
	height: 662px;
	width: 100%;
	background: #f6f6f6;
	min-width: 955px;
	overflow: hidden;
}
.video{
	width: 1200px;
	height: 477px;
	margin: 0 auto;
}
.video-left{
	float: left;
	width: 236px;
	height: 100%;
	margin-right: 5px;
	font-size: 0;
}
.video-left-img{
	width: 236px;
	height: 236px;
	margin-bottom: 5px;
	float: left;
	font-size: 0;
	position: relative;
}
.video-left-img a img{
	width: 100%;
}
.video-left-wen{
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: left;
	padding: 0 55px 0 15px;
	color: #fff;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/play.png) no-repeat 193px center;
	background-color: rgba(0,0,0,.4);
	cursor: pointer;
}
.video-middle{
	float: left;
	width: 477px;
	height: 100%;
	margin-right: 5px;
	font-size: 0;
	position: relative;
}
.video-middle div:last-child{
	background-position: 434px center;
}
.video-right{
	float: left;
	width: 477px;
	height: 100%;
}
.video-right div:first-child{
	margin-right: 5px;
}
.video-right-img{
	width: 100%;
	font-size: 0;
	position: relative;
}
.video-right .video-right-img div:last-child{
	background-position: 434px center;
}
.video-left-wen a{
	color: #fff;
}
.video-left-wen a:hover{
	text-decoration: underline;
}
.video-ceshi{
	width: 178px;
	height: 34px;
	border: 1px solid #999;
	color: #555;
	text-align: center;
	line-height: 34px;
	font-size: 13px;
	display: block;
	margin: 30px auto 0;
	border-radius: 3px;
	background: #fff;
	transition: all .3s ease-out;
}
.video-ceshi:hover{
	color: #000;
	border: 1px solid #000;
}
@media screen and (max-width: 1200px){
	.video{
		width: 955px;
		height: 475px;
		margin: 0 auto;
	}
	.video-left{
		width: 235px;
		height: 475px;
	}
	.video-left-img{
		width: 235px;
		height: 235px;
	}
	.video-left-img img{
		width: 235px;
		height: 235px;
	}
	.video-middle{
		width: 475px;
		height: 475px;
	}
	.video-middle img{
		width: 475px;
		height: 475px;
	}
	.video-right{
		width: 235px;
		height: 475px;
	}
	.video-right-img{
		display: none;
	}
}
/*shipin end*/
/*media start*/
.warp-box{
	width: 1200px;
	margin: 0 auto;
	padding: 70px 0 100px;
	overflow: hidden;
}
.warp{
	width: 1290px;
	min-width: 955px;
}
.warp a{
	width: 90px;
	height: 90px;
	margin-top: 30px;
	margin-right: 49px;
	float: left;
	text-align: center;
	line-height: 90px;
}
.warp a img{
	max-width: 100%;
	max-height: 100%;
}
.warp a:nth-last-child(1){
	display: block;
	height: 90px;
	background: #333;
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	transition: all .2s ease-out;
}
.warp a:nth-last-child(1):hover{
	background: #000;
}
.shizi{
	padding: 10px;
	font-size: 25px;
	line-height: 30px;
}
@media screen and (max-width: 1200px){
	.warp-box{
		width: 955px;
		margin: 0 auto;
		padding: 10px 0 40px;
	}
	.warp{
		width: 974px;
	}
	.warp a{
		float: left;
		margin-right: 18px;
		margin-top: 20px;
		width: 80px;
	}
	.warp a img{
		max-width: 100%;
	}
}
/*media end*/
/*banquan start*/
.foot-box{
	width: 100%;
	height: 300px;
	background: #222;
	font-size: 12px;
	min-width: 955px;
}
.foot-top{
	width: 100%;
	max-width: 1200px;
	height: 120px;
	border-bottom: 1px solid #333;
	margin: 0 auto;
	line-height: 120px;
	overflow: hidden;
}
.foot-neirong{
	width: 886px;
	height: 100%;
	margin: 0 auto;
}
.foot-neirong ul{
	width: 1080px;
}
.foot-neirong ul li{
	background: url(../images/footer.png)no-repeat;
	margin-right: 100px;
	padding-left: 55px;
	float: left;
	color: #FFF;
	font-size: 16px;
}
.foot-neirong ul li:nth-child(1){
	background-position: -5px 35px;
}
.foot-neirong ul li:nth-child(2){
	background-position: -4px -56px;
}
.foot-neirong ul li:nth-child(3){
	background-position:  -4px -163px;
}
.foot-neirong ul li:nth-child(4){
	background-position: -4px -266px;
	margin-right: 0;
}
.foot-bottom{
	width: 983px;
	margin: 34px auto 0;
	padding-bottom: 36px;
	text-align: center;
}
.foot-b-left{
	display: inline-block;
	max-width: 537px;
	padding: 25px 60px 30px 0;
	border-right: 1px solid #333;
	text-align: right;
}
.shouhou{
	width: 100%;
	font-size: 18px;
	color: #666;
	text-align: left;
}
.shouhou a{
	color: #666;
	font-size: 18px;
}
.shouhou span{
	font-size: 12px;
}
.shiyong{
	margin-top: 7px;
	text-align: left;
	overflow: hidden;
	line-height: 18px;
}
.shiyong span{
	font-size: 12px;
	color: #666;
	margin-right: 10px;
}
.shiyong a{
	font-size: 12px;
	color: #666;
	margin-right: 10px;
}
.shiyong a:hover{
	color: #fff;
}
.foot-b-right{
	display: inline-block;
	min-width: 324px;
	padding-left: 56px;
	font-size: 12px;
	color: #666;
	vertical-align: top;
}
.foot-content{
	text-align: left;
}
.foot-info{
	margin-top: -16px;
	width: 100%;
}
.info-left{
	width: auto;
	float: left;
	margin-top: 20px;
}
.info-left a{
	display: inline-block;
	width: 42px;
	height: 42px;
	margin-right: 9px;
	margin-top: 20px;
	background: url(../images/weibo.png) no-repeat;
	vertical-align: middle;
}
.info-left a:nth-child(1){
	background-position: -104px 0;
}
.info-left a:nth-child(3){
	background-position: -52px 0; 
}
.info-left a:nth-child(1):hover{
	background-position: -281px 0;;
}
.info-left a:nth-child(2):hover{
	background-position: -177px 0;
}
.info-left a:nth-child(3):hover{
	background-position: -229px 0; 
}
.info-right{
	width: auto;
	float: right;
}
.info-right img{
	display: block;
	width: 111px;
	height: 111px;
	margin-left: 48px;
}
@media screen and (max-width: 1200px){
	.foot-top{
		width: 100%;
	}
	.foot-top ul{
		width: 1055px;
	}
	.foot-bottom{
		width: 955px;
	}
}
/*banquan end*/
/*返回顶部开始*/
.back{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 0;
	bottom: 0;
	background: url(../images/backtop.png)no-repeat;
	cursor: pointer;
}
.back:hover{
	background-position: 0 -42px;
}
* {
    box-sizing: border-box;
}
/*返回顶部结束*/
